/* App.css */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

.app-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    background-color: #0f172a;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 3.5rem;
    font-weight: bold;
    color: #f472b6;
    text-shadow: 0 0 10px #ec4899;
    margin-bottom: 1.5rem;
    white-space: nowrap;
}

.description {
    font-size: 1.2rem;
    color: #e5e7eb;
    max-width: 600px;
}

.crayon-image {
    width: 80%;
    max-width: 400px;
    animation: float 4s ease-in-out infinite;
    filter: drop-shadow(0 0 10px #ec4899);
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}